{% extends "homepage/base.html" %}
{% load static %}
{% block title %}
    Confirm your post
{% endblock %}

{% block content %}
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Confirmation Page</h1>
                    <p class="lead">Please confirm your name and status to post</p>
                    <hr class="my-4">
                    <h4 class="text-monospace">Name: {{ coreDatabase.namaUser }}</h4>
                    <h4 class="text-monospace">Status: {{ coreDatabase.kabarUser }}</h4>
                    <a class="btn btn-primary btn-lg" href="/" type="submit" name= "yes" role="button">Submit</a>
                    <a class="btn btn-light btn-lg" href="{% url 'delete' pk=coreDatabase.pk %}" type="submit" name= "no" role="button">Cancel</a>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}