{% extends 'homepage/base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/kabar.css' %}" /> {% endblock %} {% block content %}
<div class="kabar">
    <div class="d-flex justify-content-center">
        <h1 class="judulkabar">
            <b name="judul">Hello, how are you?</b>
        </h1>
    </div>
    <div class="kabar2">
        <form action="" method="POST">
            {% csrf_token %} {{ formKabar }}
            <div class="centre-items" style="margin-top: 1rem">
                <input type="submit" class="btn btn-primary" name="submit" value="Submit">
            </div>
        </form>
    </div>
    <div class="table-responsive" id="Table">
        <table class="table table-hover">
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-3">Time</th>
                    <th scope="col" class="col-3">Name</th>
                    <th scope="col" class="col-6">Status</th>
                </tr>
            </thead>
            {% for i in coreDatabase %}
            <tbody>
                <tr class="d-flex">
                    <td class="col-3">{{i.waktu}}</td>
                    <td class="col-3">{{i.namaUser}}</td>
                    <td class="col-6">{{i.kabarUser}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}